.password-wrapper {
  position: relative;
}

#togglePassword {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

#logoutBtn {
  background: white;
  color: #ff4d00;
  margin-left: 10px;
}

#sideActions {
  background: #fff3cd;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
}
