body {
  font-family: Arial;
  background: #f4f0ec;
  margin: 0;
  padding: 0;
}

.card {
  width: 90%;
  max-width: 400px;
  margin: 80px auto;
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background: #6b3e26;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}
